# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# VS/VSCode
.vs/
.vscode/

# Rider
.idea/

# OS files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
.DS_Store

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Build artifacts
*.dll
*.exe
*.pdb
*.cache

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Publish outputs
publish/
*.Publish.xml
*.pubxml
*.publishproj

# EF Core
**/Migrations/**/ModelSnapshot.cs
**/Migrations/**/Migration*.cs

# Dotnet tools
.config/dotnet-tools.json

# Local settings
appsettings*.json
